body {
    background-color: #363640;
}

  .bg-dark {
    background-color: #212124 !important;
  }

  .landingItem1 {
    grid-area: welcome;
  }

  .landingItem2 {
    grid-area: addQuizzer;
  }

  .landingContainer {
    display: grid;
    grid-template-columns: 25% 25% 2% 48%;
    grid-template-rows: auto;
    grid-template-areas: 
    "welcome welcome . addQuizzer";
    margin: 80px 2% 0 2%;
    color: white;
  }

  .teamsItem1 {
    grid-area: teamsHeader;
    background-color: #212124 !important;
    padding: 2rem;
    border-radius: 5px;
  }

  .teamsItem2 {
    grid-area: teamsList;
  }

  .teamsItem3 {
    grid-area: teamsOptionList;
    background-color: #212124 !important;
    padding: 2rem;
    border-radius: 5px;
  }

  .teamsContainer {
    display: grid;
    grid-template-columns: 25% 25% 46%;
    grid-template-rows: auto;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    grid-template-areas: 
    "teamsHeader teamsHeader teamsList"
    "teamsOptionList teamsOptionList teamsList";
    margin: 80px 2% 0 2%;
    color: white;
  }

  .teamsList li {
    background-color: #212124 !important;
    margin-bottom: 2%;
  }

  .teamsList li:hover {
    /* background-color: #00aced !important; */
    border-left: 5px solid #ffc107;
    cursor: pointer;
  }

  .navbar {
    background-color: #363640 !important;
    border-bottom: #00aced solid 4px;
    margin: auto;
   font-family: 'Montserrat', sans-serif;
  }
  
  #navDropdown {
    position: static;
  }
  
  #navDropdownMenu {
    width: 100%;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }

  /* MEDIA QUERIES ///////////////////////////////////////////////////// */
  /* Responsive for laptop screens */
  @media screen and (max-width: 1440px) {

   }
  /* Responsive for Ipad screens */
  @media screen and (max-width: 1024px) {

   }
  @media screen and (max-width: 840px) {

   }
  @media screen and (max-width: 550px) {

   }