body {
    background-color: #363640;
}

/* NAVBAR------------------------------------------------------------- */
.navbar {
    background-color: #363640 !important;
    border-bottom: #00aced solid 4px;
    margin: auto;
   font-family: 'Montserrat', sans-serif;
  }
  
  #navDropdown {
    position: static;
  }
  
  #navDropdownMenu {
    width: 100%;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }

  /* Landing -------------------------------------------------------- */
  .landingDiv {
      display: flex;
      text-align: center;
      margin: 80px 0 0 0;
      color: white;
  }

  /* MEDIA QUERIES ///////////////////////////////////////////////////// */
  /* Responsive for laptop screens */
  @media screen and (max-width: 1440px) {

   }
  /* Responsive for Ipad screens */
  @media screen and (max-width: 1024px) {

   }
  @media screen and (max-width: 840px) {

   }
  @media screen and (max-width: 550px) {

   }